<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GistPDF / Signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body style="background-color: #0B0A0B;">
    <div class="d-flex flex-column justify-content-center align-items-center my-5">
        <br>
        <div class="card rounded-3 text-center px-4 py-3 border" style="min-width: 45%;">
            <br>
            <div class="text-center d-flex justify-content-center align-items-start">
                <h2 style="font-family: serif;">GistPDF</h2>
            </div>
            <br>
            
            <div>
                <small>Welcome User!</small>
                <h5>Create your account</h5>
            </div>
            <br>

            <small class="text-muted" id="signupError"></small>
            <div class="form-section">
                <form method="POST">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="input-group w-100 mb-3">
                        <select name="gender" class="form-select" required>
                            <option value="">Select Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                        </select>
                    </div>
                    <div class="input-group w-100 mb-3">
                        <input type="text" name="username" class="form-control" placeholder="Enter Username" required>
                    </div>                
                    <div class="input-group w-100 mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Enter Email Address" required>
                    </div>
                    <div class="input-group w-100 mb-3">
                        <input type="tel" name="phone_number" class="form-control" placeholder="Enter Contact Number" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
                        <span class="input-group-text" id="togglePassword" style="cursor: pointer;">
                            <i class="bi bi-eye-slash" id="eyeIcon"></i>
                        </span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="confirm_password" class="form-control" placeholder="Confirm your Password" required>
                        <span class="input-group-text" id="togglePassword2" style="cursor: pointer;">
                            <i class="bi bi-eye-slash" id="eyeIcon2"></i>
                        </span>
                    </div>
                    <div>
                        <a class="btn btn-dark w-100 mb-2" onclick="signup()">Sign Up</a>
                    </div>
                </form>
                <br>
                <div class="text-center">
                    <p>Already have an account?</p>
                    <a href="{% url 'login' %}" class="btn btn-outline-dark w-100 mb-2">Login</a>    
                </div>
            </div>
        </div>
    </div>


    <!-- signup -->
    <script>
        function signup() {
            var data = {
                "first_name": document.querySelector('input[name="first_name"]').value,
                "last_name": document.querySelector('input[name="last_name"]').value,
                "username": document.querySelector('input[name="username"]').value,
                "email": document.querySelector('input[name="email"]').value,
                "phone_number": document.querySelector('input[name="phone_number"]').value,
                "gender": document.querySelector('select[name="gender"]').value,
                "password": document.querySelector('input[name="password"]').value,
                "confirm_password": document.querySelector('input[name="confirm_password"]').value,
            }

            if (data['password'] != data['confirm_password']) {
                document.getElementById('signupError').innerHTML = 'Passwords do not match!';
            }else if (data['password'] == '' || data['confirm_password'] == '' || data['first_name'] == '' || data['last_name'] == '' || data['username'] == '' || data['email'] == '' || data['phone_number'] == '' || data['gender'] == '') {
                document.getElementById('signupError').innerHTML = 'Please fill in all fields!';
            }else if (!/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(data['email'])) {
                document.getElementById('signupError').innerHTML = 'Please enter a valid email address!';
            }else {
                document.getElementById('signupError').innerHTML = '';

                fetch('', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    if (data['status'] == 'success') {
                        window.location.href = '/login/';
                    }else{
                        document.getElementById('signupError').innerHTML = data['error'];
                    }
                })
            }
        }
    </script>

    <!-- JavaScript for toggling password visibility -->
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('input[name="password"]');
        const eyeIcon = document.querySelector('#eyeIcon');

        togglePassword.addEventListener('click', function () {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            if (type === 'password') {
                eyeIcon.classList.remove('bi-eye');
                eyeIcon.classList.add('bi-eye-slash');
            } else {
                eyeIcon.classList.remove('bi-eye-slash');
                eyeIcon.classList.add('bi-eye');
            }
        });
    </script>
    <script>
        const togglePassword2 = document.querySelector('#togglePassword2');
        const password2 = document.querySelector('input[name="confirm_password"]');
        const eyeIcon2 = document.querySelector('#eyeIcon2');

        togglePassword2.addEventListener('click', function () {
            const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
            password2.setAttribute('type', type);

            if (type === 'password') {
                eyeIcon2.classList.remove('bi-eye');
                eyeIcon2.classList.add('bi-eye-slash');
            } else {
                eyeIcon2.classList.remove('bi-eye-slash');
                eyeIcon2.classList.add('bi-eye');
            }
        });
    </script>
    
</body>
</html>